doctype html
html
  head
    meta(charset='utf-8')
    title Latest Releases | Via | Cryptocurrency Trading &amp; Analysis
    meta(name='description', content='Download the most recent version of Via for Mac and Windows. Via is a desktop-based cryptocurrency trading platform for trading across multiple exchanges, simultaneously. Keys are safe and secure, stored only on your personal computer.')
    meta(name='keywords', content='cryptocurrency crypto trading analysis via bitcoin ethereum download releases')
    meta(name='author', content='Dakota Gordon')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href="/")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,500|Inconsolata:400,700', rel='stylesheet', type='text/css')
    // link(href='/assets/favicon.png', rel='icon', type='image/png')

    script(src='https://www.googletagmanager.com/gtag/js?id=UA-109273243-2', async='true')
    script(type='text/javascript').
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109273243-2');

    // bower:css
    link(rel='stylesheet', href='/bower_components/angular-ui-notification/dist/angular-ui-notification.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.css')
    // endbower

    // STYLES
    link(rel="stylesheet", href="/min/production.min.css")
    // STYLES END
  body(ng-app='app', ng-controller='MainController as main')
    header.header
      nav.navbar(role='navigation')
        a.wordmark(href='https://via.world')
        div.title Latest Releases
        .ff
        a.out(href='https://via.world') Back to Main Website
    .constrain
      div(ng-view='')
    footer.footer
      .constrain
        a.wordmark(href='https://via.world')
        .ff
        div.copyright &copy;2018 Via
        div.location Austin, TX
        .flex.flex-align
          a.social.reddit(href='https://reddit.com/r/viaplatform', target='_blank')
          a.social.twitter(href='https://twitter.com/viaplatform', target='_blank')
          a.social.slack(href='https://slack.via.world', target='_blank')


    // bower:js
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    script(src='/bower_components/angular-messages/angular-messages.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/angular-sanitize/angular-sanitize.js')
    script(src='/bower_components/angular-xeditable/dist/js/xeditable.min.js')
    script(src='/bower_components/lodash/lodash.js')
    script(src='/bower_components/angular-ui-notification/dist/angular-ui-notification.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/bower_components/angular-confirm-modal/angular-confirm.min.js')
    script(src='/bower_components/angular-jwt/dist/angular-jwt.js')
    script(src='/bower_components/ngstorage/ngStorage.js')
    script(src='/bower_components/sails.io.js/dist/sails.io.js')
    script(src='/bower_components/angular-sails/dist/angular-sails.js')
    script(src='/bower_components/moment/moment.js')
    script(src='/bower_components/angular-moment/angular-moment.js')
    script(src='/bower_components/ng-file-upload/ng-file-upload.js')
    script(src='/bower_components/angular-PubSub/src/angular-pubsub.js')
    script(src='/bower_components/re-tree/re-tree.js')
    script(src='/bower_components/ng-device-detector/ng-device-detector.js')
    script(src='/bower_components/compare-versions/index.js')
    // endbower

    // SCRIPTS
    script(src="/min/production.min.js")
    // SCRIPTS END
